amqp==5.3.1
asgiref==3.9.1
billiard==4.2.2
celery==5.5.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
distlib==0.4.0
Django==5.2.6
django-crispy-forms==2.4
django-otp==1.6.1
django-phonenumber-field==8.1.0
djangorestframework==3.16.1
env3==0.0.7
filelock==3.19.1
future-annotations==1.0.0
kombu==5.5.4
package_name==0.1
packaging==25.0
pbr==7.0.1
phonenumbers==9.0.13
pillow==11.3.0
platformdirs==4.3.8
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
pytz==2025.2
redis==5.2.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
stevedore==5.4.1
tokenize_rt==6.2.0
tzdata==2025.2
vine==5.1.0
virtualenv==20.34.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
virtualenvwrapper-win==1.2.7
wcwidth==0.2.14
whitenoise==6.11.0
dj-database-url==3.0.1
