{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Navigation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/images/logos/logo2.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/membership.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashbord.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/shopment_list.css' %}"/>
</head>
<body>

{% block content %}


<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-profile">
      <h3>{{ request.user.username }}</h3>
      <h3>User ID: {{ request.user.profile.user_id_custom }}</h3>
      {% if current_tier %}
      <h4>Membership: {{ current_tier.name }}</h4>
      {% else %}
      <h4>No Active Membership</h4>
      {% endif %}
    </div>

    <ul class="nav-links">
      <li>
        <a href="#" class="active"
          ><i class="fas fa-home"></i> <span>Dashboard</span></a
        >
      </li>
      <li>
        <a href="{% url 'customer:shipment_list' %}"
          ><i class="fas fa-box"></i> <span>My Packages</span></a
        >
      </li>
      <li>
        <a href="{% url 'customer:membership_manage' %}">
          <i class="fas fa-id-card"></i><span>Membership</span>
        </a>
      </li>
      <li>
        <a href="{% url 'customer:console_list' %}"
          ><i class="fas fa-credit-card"></i><span>Console</span></a
        >
      </li>
      <li>
        <a href="{% url 'customer:purchase_list'  %}"
          ><i class="fas fa-cloud-upload-alt"></i></i><span>Invoice</span></a
        >
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i> <span>Settings</span></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
      </li>
    </ul>
  </div>


{% endblock %}
     {% block scripts %}
    <script>
         <script src="{% static 'js/base.js' %}"></script>
         <script src="{% static 'js/app.js' %}"></script>
    </script>
    {% endblock %}
</body>
</html>